.chat-side{
  width: 300px;
  color: white;
  float: left;
}

.group__group-name {
  font-size: 15px;
  margin-bottom: 5px;
  color: white;
}

.group__latest-message {
  font-size: 11px;
  color: white;
}
