.form {
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
  box-sizing: border-box;
  
  &__message {
    height: 50px;
    width: calc(100% - 40px);
    padding: 0 40px 0 10px;
    color: #434a54;
    border-style: none;
  }
  &__mask {
    position: relative;
    &__image {
      font-size: 1.3rem;
      position: absolute;
      top: 10px;
      right: 10px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  &__submit {
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer
  }
}

.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.hidden {
  display: none;
}

.new_message {
  display: flex;
}
